a {
	text-decoration: none;
	color: #09F;
}

html,
body {
	background-color: #FFF;
	background-image: URL("./assets/images/lilywallpaper.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right top;
	color: #d89529;
	font-family: Futura, Helvetica, sans-serif;
	font-size: 18px;
	background-attachment: fixed;
}

.flogo {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.content {
	background-color: #FFF;
	width: 85%;
	max-width: 750px;
	min-width: 350px;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	color: #633e00;
	right: 0;
}